* {
    margin:0;
    padding: 0;
    border:0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif ;
}

.header
 {  
 background-color: black;
 background-image: url(Img/hd.png);
 background-repeat: no-repeat;
 background-size: 100%;
 padding: 5rem;
}

.header img{
   
    height: auto;
    margin-top: -2rem;
}

.session_1 {
    background-color: black;
    padding: 5rem;
    text-align: center;
    
}

.session_1 h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
}

.session_1 h3 {
    color: #fff;  
    text-align: center;
    margin-bottom: 2rem;
    
}
.session_1 a{
    
}


.session_1 a button{
    font-size: 1.2rem;
    border-radius: 1rem;
    width: 10rem;
    height: 2rem;
}
.session_1 a button:hover{
    background-color: aqua;
    transition: 0.8s;
    color: white;
    cursor: pointer;
}


/* seçãaooo dois divs */

.section2{
    padding: 10rem;
    text-align: center;
    background-color: blueviolet;
}
.container{
    display: flex;
    padding: 3rem;
    margin-right: 10px;
    
}

.container2{
    display: flex;
    padding: 3rem;
    margin-right: 10px;
    
}



/*********/
.session_2 {
    padding: 2rem;
    background-color: gray;
    display: flex;
    justify-content: center;
}

.session_2 .container_2 {
    display: flex;
    align-items: center;
}

.session_2 .container_2 div {
    display: flex;
    align-items: center;
}

.session_2 .container_2 div {
    width: 50%;
}

.session_2 .imgEtapas{
    width: 35rem;
    border-radius: 2%;
    
}


   
