* {
    margin:0;
    padding: 0;
    border:0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif ;
}

.header
 {  
 background-color: black;
 background-image: url(Img/hd.png);
 background-repeat: no-repeat;
 background-size: 100%;
 padding: 5rem;
}

.header img{
   
    height: auto;
    margin-top: -2rem;
}

.session_1 {
    background-color: brown;
    padding: 8.5rem;
    text-align: center;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.session_1 h1 {
    color: black;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}

.session_1 h3 {
    color: black;  
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    
}
.session_1 a{
    
}


.session_1 a button{
    font-size: 1.2rem;
    border-radius: 1rem;
    width: 10rem;
    height: 3rem;
}
.session_1 a button:hover{
    background-color: black;
    transition: 0.8s;
    color: white;
    cursor: pointer;
}



/* seçãaooo dois divs */

.section2{
    padding: 2.8rem;
    text-align: center;
    background-color: blueviolet;
}

.section2 h2{
    font-size: 2.5rem;
    padding: 1rem;
    margin-bottom: 3rem;
}

.container, .container2{
    display: flex;
    padding: 1rem;
    margin-right: 10px;   
}
.div1{
    background-color: rgba(115, 36, 189, 0.733);
    margin-right: 0.5rem;
    width: 100%;
    height: 9rem;
    padding: 1.2rem;
    border-radius: 20px;
    
}

i{
    font-size: 2rem;
}
h4{
    padding: 10px;
    font-size: 1.3rem;
}

.container p{
    font-size: 1.2rem;
}
.container2{
    font-size: 1.2rem;
}


/*********/

/* footer */

footer{
    background-color: aquamarine;
    padding: 3rem;
}
footer img{
    width: 10rem;
    text-align: center;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer p{
    text-align: left;
}
 /********************ade*********/
 


/********************************/

.session_2 {
    padding: 2rem;
    background: linear-gradient(180deg, #c0cdcf 8.33%, rgb(201, 207, 207) 100%);
    display: flex;
    background: linear-gradient(180deg, #0c16a364 8.33%, rgba(5, 39, 101, 0.745) 100%), url(https://files.sunoresearch.com.br/p/uploads/2018/06/consultoria-financeira.jpg); 
/* background-repeat: no-repeat; */
background-position: cover;

}

.container_master {
    display: flex;
    width: 100%;
    justify-content: center;
}
.session_2 h1
 {
    font-size: 2.7rem;
    margin-bottom: 1rem;
    color: white;
    
 }




/* .itemEtapas i {
    display: flex;
    align-items: center;
    color: #fff;
} */

.session_2 .imgEtapas{
    width: 35rem;
    height: 35rem;
    border-radius: 2%;
    margin-top: 2.8rem;
    
    
        
}


.session_2Itens {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.item i {
    
    
    color: aliceblue;
    margin-right: 20px;
}

.content {
    max-width: 350px;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
}

h2 {
    margin-top: 0;
    margin-bottom: 5px;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

/*********section 3****************/

.section_cards
{
    align-items: center;
}

.section_cards h3
{
    margin-top: 2rem;
    font-size: 2rem;
}

.card-container /*div card container*/
{
    
    display: flex;
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
    gap: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    
}

.card /*card nome dado as 4 divs*/
{
    width: 300px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card img /*img dentro do card*/
{
    
    width: 6rem;
    height: auto;
    margin-bottom: 15px;
}

.card h3 /*h3 dentro do card*/
{
    color: #333333;
    font-size: 20px;
    margin-bottom: 10px;
}

.card p /*Paragrafor dentro do card*/
{
    color: #666666;
    font-size: 16px;
}

.cta-button /* botão agnde sua consulta*/
 {
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.8s;
  
    
}

.cta-button:hover /* rover do agnde sua consulta*/
{
    background-color: #0056b3;
}